<div class="container">
  <div class="navPanel">
    <!-- <div style="margin: 25px; font-weight:bold;"><app-current-user-view></app-current-user-view></div> -->
    <div class="p-3">
      <select class="form-control" name="reportName" id="reportName" #reportName (change)="getReportName(reportName.value)">
        <option selected disabled>----Select a Report----</option>
        <option value="OpenWorkOrderDetails_03Feb">Open Work Order Details</option>
        <option value="CloseWorkOrderSummaryReport">Closed Work Order</option>
        <option value="workorderReport_31_01">Open Work Order</option>
      </select>
    </div>
    <div class="p-3">
      <select class="form-control m-1" name="parameters" id="parameters" *ngFor="let param of selectedReportParameter">
          <option  [value]="param">{{param}}</option>
      </select>
    </div>
  </div>

  <div class="component-area">
    <div id="reportDiv" class="report-view">
      <br />
    </div>
  </div>


  <br style="clear:both;" />
</div>